<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>
<body>
        <header class="header">
            <div class="head">
                <h2 class="diseño">Diseño</h2>
                <h2 class="multimedia">Multimedia</h2>
            </div>
            <div class="menu">
                <a href="../index.html" class="inicio">INICIO</a>
                <a href="Nosotros.html" class="nosotros">NOSOTROS</a>
                <a href="Servicios.html" class="nosotros">SERVICIOS</a>
                <a href="Contacto.html" class="nosotros">CONTACTO</a>
            </div>
        </header>
        <section>
            <aside class="sida2">
                <h2>Suscribete a nuestro boletín</h2>
                <div class="boletin">
                    <input type="text" placeholder="Ingrese el Email..." >
                    <button>Suscribete</button>
                </div>
            </aside>
        </section>
    <main class="main1">
        <section class="section1">
            <h2 class="h2">Contacto</h2>
            <form>
                <label for="">Nombre</label>
                <input type="text" placeholder="Ingresa tu nombre">
                <label for="">Email</label>
                <input type="text" placeholder="Ingresa tu email">
                <label for="">Teléfono</label>
                <input type="text" placeholder="Ingresa tu teléfono">
                <label for="">Celular</label>
                <input type="text" placeholder="Ingresa tu celular">
                <label for="">Mensaje</label>
                <textarea></textarea>
                <button class="button2">Enviar</button>
            </form>
        </section>
        <section class="section2">
            <aside class="aside2">
                <div>
                    <h2 class="h">Que hacemos</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur <br>
                        adipiscing elit Donec varius auctor lacus <br>
                        nec feugiat Phasellus sit amet ex ipsum. <br>
                        Praesent pharetra tincidunt tempor. Etiam <br>
                        verit eros, dapibus eget porta in, lacinia et <br>
                        magna</p>
                </div>
            </aside>
            <img src="../assets/images/mapaGoogle.png" alt="">
        </section>
    </main>
    <footer>Graphel Desarrollo Web, Copyright © 2017</footer>
</body>
</html>